@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* :root {
  --background-color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
     --background-color: green;
  }
}
*/

body {
  color: black;
  background-color: white;
} 
