/* styles/menucreation.module.css */
.menu{
  height: -10px

}


.menuItem {
  margin-top: 10px; /* Adjust the top margin as needed */
  margin-bottom: 20px;
}

.menuItem h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.menuItem input,
.menuItem textarea {
  font-size: 16px;
    font-weight: 400;
    outline: none;
    padding: -6px 16px;
    color: rgb(34, 34, 34);
    width: 100%;
    display: block;
    line-height: 1.5em;
    opacity: 1;
    appearance: none;
    height: 38px;
    background: transparent;
    border: 1px solid rgb(108, 108, 108);
    border-radius: 4px;
}

.button {
  margin: auto;
  border-radius: #fff;
  padding: 10px 15px;
 background-color:white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px ;
  border: none;
  border-radius: 4px;
}

.menuItem button:hover {
  background-color: #0056b3;
}

.upload {
  width: 100px;
  position: relative;
  margin: auto;
}

.upload img {
  border-radius: 50%;
  border: 6px solid #eaeaea;
}
.upload .round {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #141515;
  width: 32px;
  height: 32px;
  line-height: 33px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
}
.upload .round input[type='file'] {
  position: absolute;
  transform: scale(2);
  opacity: 0;
}

.input[type='file']::-webkit-file-upload-button {
  cursor: pointer;
}


div .menuItems{
  width: 100%;
  height: 126px;
}
.time input {
  height: 39px;
  width: 200px;
  font-size: 20px;
  /* margin: 10px; */

}
.time{
  margin-bottom: 5px;
  margin-top: -66px;
  margin-left: 112px;
   border-radius: 5px;
}

.prime {
  padding: 10px;
  margin: 333px;
}

.prime label {
  margin-left: 106px;
  margin-top: 50px;
}


.prime input {
 
  margin-top: -20px;  
  margin-left: 106px; 
}
.inn {
  position: fixed;
  top: 7%;
  left: 91%;
  transform: translate(-50%, -50%);
  width: 183px;
  height: 39px;
  border-radius: 9px;
}
